---
import type { ExperienceCardProps } from '../utils/types'
import TechPill from './TechPill.astro'

const { date, projectName, description, name, link, stack } = Astro.props as ExperienceCardProps
---
    <div class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-white/30 bg-white/80"></div>
    <time class="mb-1 text-sm font-normal leading-none text-white/60">{date}</time>
    <h3 class="text-lg font-semibold text-white mt-2">{projectName}</h3>
    <h4 class="text-sm">
        <a target="_blank" href={link} class="group flex text-sm text-white/60 hover:text-white transition "> <span>{name}</span> 
            <svg  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-link ml-2 group-hover:translate-x-[2px] transition"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 15l6 -6" /><path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464" /><path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463" /></svg></a>
    </h4>
    <p class="mb-4 text-base font-normal text-white/60 mt-2">{description}</p>
    
    
    <div class="flex flex-wrap items-center gap-2 mt-2">
        {stack.map(tech => (
            <TechPill name={tech}/>
        ))}
    </div>