---
import TechPill from './TechPill.astro'
import type { PostCardProps } from '../utils/types'

const { url, frontmatter } = Astro.props as {url: string, frontmatter: PostCardProps}
---
<article class="border border-white/30 rounded-xl p-3">
    <h3 class="flex space-x-1 text-lg hover:underline hover:decoration-dashed hover:decoration-white/50 hover:underline-offset-4">
        <a href={url} class="font-bold">{frontmatter.title}</a>
    </h3>
    <p class="mt-1 text-white/70 text-sm text-pretty">{frontmatter.description}</p>
    <div class="flex justify-between items-center mt-4">
        <TechPill name={frontmatter.tag} />
        <p class="text-white/70 text-sm">{frontmatter.date}</p>
    </div>
</article>