---
import TechPill from './TechPill.astro'
import type { PostCardProps } from '../utils/types'
import { formatDate } from '../utils/utils'

const { url, frontmatter } = Astro.props as {url: string, frontmatter: PostCardProps}
---
<article class="flex flex-col flex-wrap border border-white/30 rounded-xl p-3">
    <h3 class="flex space-x-1 text-lg hover:underline hover:decoration-dashed hover:decoration-white/50 hover:underline-offset-4">
        <a href={url} class="font-bold">{frontmatter.title}</a>
    </h3>
    <p class="mt-4 text-white/70 text-sm text-pretty">{frontmatter.description}</p>
    <div class="flex flex-col lg:flex-row justify-between items-center mt-4 gap-4">
        <div class="flex flex-wrap gap-2 self-start">
        {frontmatter.tag.map((tag: string) => (
            <TechPill name={tag} />
        ))}
        </div>
        <p class="text-white/70 text-sm whitespace-nowrap mt-2 lg:mt-0 max-h-5 self-center lg:self-end">{formatDate(frontmatter.date)}</p>
    </div>
</article>